[Unit]
Description=Workflow SWIMAGD_IONO_VTEC_API Rest API
Documentation=https://github.com/pithia-eu/WF-SWIMAGD_IONO_VTEC_API/blob/main/README.md

[Service]
Type=simple
User=root
Group=root
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
#ExecStartPre=
ExecStart=/home/ubuntu/WF-SWIMAGD_IONO_VTEC_API/start_swimagd_iono_vtec_api.sh
SyslogIdentifier=Diskutilization
#ExecStop=

[Install]
WantedBy=multi-user.target